extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Thai Medical
    div.Message
      div.Title
        h3 Making the Best
        h1 For Everyone 
      span.Details Access the WHATABYTE Team Portal
    div.body
      label(for="input1") Change No. 
      input.input1
    div.NavButtons
      a(href="/user")
          div.NavButton Register for Deploy 